@font-face {
    font-family: 'EB Garamond';
    font-weight: 500;
    font-style: normal;
    src: url('fonts/ebgaramondmedium.ttf') format('truetype'),
    url("fonts/ebgaramondmedium.woff") format("woff"),
    url("fonts/ebgaramondmedium.woff2") format("woff2");
}

@font-face {
    font-family: 'EB Garamond';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/ebgaramondregular.ttf') format('truetype'),
    url("fonts/ebgaramondregular.woff") format("woff"),
    url("fonts/ebgaramondregular.woff2") format("woff2");
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/interregular.ttf') format('truetype'),
    url("fonts/interregular.woff") format("woff"),
    url("fonts/interregular.woff2") format("woff2");
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('fonts/interbold.ttf') format('truetype'),
    url("fonts/interbold.woff") format("woff"),
    url("fonts/interbold.woff2") format("woff2");
}
